body {
    font-family: 'Lato', sans-serif;
    background: url(https://cdn.pixabay.com/photo/2016/07/16/22/51/abstract-1522884_1280.jpg) ;
    	
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

